PORT=3000
DATABASE_URL=postgresql://ztr_user:eBhLMipeKdqNkjETJtFwJoDNXhClSZAl@dpg-d7r41h3bc2fs7385bbmg-a:5432/ztr_reports
JWT_SECRET=ZTR@2023
ADMIN_EMAIL=ztrcompani@hotmail.com
ADMIN_PASSWORD=ZTR@2023
FRONTEND_URL=https://report.ztrcompany.site
